---
import Layout from "../layouts/Layout.astro";
---

<Layout title="このブログについて">
    <h2>このブログについて</h2>
    <p>
        この Web
        サイトは霧咲空人（きりさきあきひと）が運営するブログサイトです。適当になんか書いていきます。
    </p>
    <h2>ライセンスについて</h2>
    <p>
        当ブログの記事の内容はすべて <a
            href="https://creativecommons.org/publicdomain/zero/1.0/deed.ja"
            >CC0 1.0</a
        >で公開されています。
        ただし、画像や引用などについて註釈がついている部分に関してはその限りではございませんのでご注意ください。
        基本的に画像は霧咲空人が著作権を有しますがロゴやアバターなど一部の画像を除き
        <a href="https://creativecommons.org/licenses/by/4.0/deed.ja"
            >CC BY 4.0</a
        > で利用することが可能です。 Web サイトのソースコードは <a
            href="https://github.com/kirisaki/pravda.klara.works"
            >GitHub のリポジトリ</a
        >にて <a href="https://licenses.opensource.jp/Unlicense/Unlicense.html"
            >The Unlicense</a
        > の下公開されています。
    </p>
</Layout>
