---
import Layout from "../layouts/Layout.astro";
import type { MarkdownInstance } from "astro";

type Frontmatter = {
    title: string;
    date: string;
    tags: string[];
};

type Post = MarkdownInstance<Frontmatter>;

type ImportedPosts = Record<string, Post>;

const importedPosts: ImportedPosts = import.meta.glob<Post>("./posts/*.md", {
    eager: true,
});

const posts: Post[] = Object.values(importedPosts)
    .sort(
        (m: Post, n: Post) =>
            new Date(n.frontmatter.date).getTime() -
            new Date(m.frontmatter.date).getTime(),
    )
    .slice(0, 6);
---

<Layout>
    <blockquote>
        モスクワの報道は三つのカテゴリーにわかれている。すなわち「真実」「たぶん真実」及び「真実性のないもの」の三つである。
        第一のカテゴリーには時報、第二のカテゴリーには天気予報、そして第三のカテゴリーには他の全てが含まれている。
    </blockquote>
    <h2>最近の記事</h2>
    <ul>
        {
            posts.map((p: Post) => (
                <li>
                    <a href={p.url}>{p.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
