---
import Layout from "../../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts_ja");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<Layout title="tags">
    <h1>Tags</h1>
    <ul class="tags">
        {
            tags.map((tag) => (
                <li class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    .tags {
        list-style: none;
        padding: 0;
    }
    .tag {
        display: inline-block;
        margin: 0.5rem;
    }
</style>
