---
import ThemeIcon from "./ThemeIcon.astro";
const { pathname } = Astro.url;
---

<header class="header">
    <h1 class="logo"><a href="/">プラウダ</a></h1>
    <div class="navBox">
        <nav class="nav">
            <ul>
                <li>
                    <a href="/" class={pathname === "/" ? "active" : ""}
                        >index</a
                    >
                </li>
                <li>
                    <a
                        href="/about"
                        class={pathname === "/about" ? "active" : ""}>about</a
                    >
                </li>
            </ul>
        </nav>
        <ThemeIcon />
    </div>
</header>
<style>
    .header {
        border: 1px solid var(--white);
        border-width: 0 0 1px;
        display: flex;
        align-items: end;
    }
    .logo {
        font-family: "Zen Old Mincho", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2.5rem;
        line-height: 4rem;
        letter-spacing: -0.3rem;
        margin: 0;
    }
    .logo a {
        text-decoration: none;
    }
    .navBox {
        display: flex;
        flex: 1;
        justify-content: right;
    }

    .nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    .nav li a {
        display: block;
        line-height: 4rem;
        padding: 0 2rem;
    }
    a.active {
        color: var(--dark);
        background: var(--white);
    }
    a.active:hover {
        color: var(--dark);
        background: var(--white);
    }
    @media screen and (max-width: 480px) {
        .header {
            display: block;
        }
        .navBox {
            justify-content: left;
        }
        .nav {
            flex: 1;
        }
    }
</style>
